#board {
  grid-area: board;
  width: 100%;
  .board-container {
    margin: 0 auto;
    max-width: 100%;
    max-height: 60vh;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    .tile {
      height: 100%;
      width: 100%;
      cursor: pointer;
      &.white {
        background: $chess-white;
      }
      &.black {
        background: $chess-black;
      }
      &:hover,
      &:active {
        &.white {
          background: $special-color;
        }
        &.black {
          background: $special-color;
        }
      }
    }
  }
}
