#board {
  grid-area: board;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .board-container {
    margin: 0 auto;
    max-width: 50rem;
    max-height: 100vh;
    width: 100%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    .tile {
      height: 100%;
      width: 100%;
      padding: 10px;
      &.white {
        background: $tile-white;
      }
      &.black {
        background: $tile-black;
      }
      &.selected {
        &.white {
          background: $special-color;
        }
        &.black {
          background: $special-color;
        }
      }
    }
  }
}
