.piece {
  cursor: pointer;
  pointer-events: none;
  &.player1 {
    transform: rotateZ(180deg);
  }
  &.player1 svg path {
    fill: $chess-black;
  }
  &.player2 svg path {
    fill: $chess-white;
  }
}
