.player-card {
  border: 2px solid $text-color;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  .player-info {
    .player-name {
      font-weight: bold;
    }
  }
  &.player1 {
    grid-area: player1;
    transform: rotateZ(180deg);
  }
  &.player2 {
    grid-area: player2;
  }
}
