$text-color: rgb(241, 241, 241);
$background-color: #383d47;

// $chess-white: rgb(255, 255, 255);
// $chess-black: rgb(0, 0, 0);
$chess-white: rgb(224, 24, 21);
$chess-black: rgb(0, 187, 12);
$tile-white: rgb(216, 216, 216);
$tile-black: $background-color;

$special-color: #e1d156;

$font-size-mega: 5rem;
$font-size-largest: 4rem;
$font-size-larger: 3rem;
$font-size-largish: 2rem;
$font-size-normal: 1.6rem;
$font-size-smallish: 1.4rem;
$font-size-small: 1.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // font-size: 62.5%;
  font-size: 62.5%;
  h1 {
    font-size: $font-size-mega;
  }
  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  input,
  button,
  label,
  textarea {
    line-height: 1;
    color: $text-color;
    font-weight: normal;
    font-size: $font-size-normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
